.next {
  background: url('/img/pattern.png');
  padding: 2rem 1.5rem;

  h2 {
    color: #0f9095;
    font-size: 1.25rem;
    margin-bottom: 1em;
    display: block;

    &:after {
      background-image: linear-gradient(
        to right,
        rgba($primary-color, 0.8) 20%,
        rgba($grey-color, 0) 20%
      );
      content: '';
      display: block;
      height: 1px;
      margin-top: 0.3em;
      width: 100%;
    }
  }

  p {
    color: darken(#a3a3a3, 10%);
    margin-bottom: 1em;
  }

  a {
    color: darken(rgba($primary-color, 0.6), 20%);
  }
}
